body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  color:white;
  background-color: black;
  font-size: 20px;
  padding:10px;
  cursor:pointer;
  border-radius: 10px;
}

ul{
  text-align: left;
}

.mainViewer{
  text-align: center;
}

button{
  color:white;
  background-color: black;
  border:1px solid rgb(45, 45, 248);
  border-radius: 3px;
  font-size: smaller;
  cursor: pointer;
}